<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" style="margin-left:0px" >
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left" ></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Websites
                </a>
            </div>

            <div class="navbar-text pull-right" style="margin-right:0px">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-text pull-right">
                <a ng-click="model.createWebsite(website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    New Websites
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right" style="margin-left: 15px;">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <form>
            <div class="form-group">
                <label for="name">Name </label>
                <input ng-model="website.name" type="text" class="form-control" id="name" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="website.description" class="form-control" row="5" id="description" placeholder="Description"></textarea>
            </div>
        </form>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <div class="col-xs">
                <a href="#/user/{{model.userId}}" class="pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>