input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.navbar-default {
    background-color: #3d96bd;
}
.navbar-default .navbar-brand {
    Color: white;
}

.glyphicon {
    color: white;
    margin-right: 15px;
}