<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click=model.updateWidget(model.widget)>
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget {{model.widget.widgetType}}
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:75px;">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Text</label>
            <input type="text" class="form-control" id="description" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="URL">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="URL" placeholder="https://image.com">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="number" class="form-control" id="width" placeholder="100%">
        </div>
    </form>

    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="userId"    value="{{model.userId}}"            style="display: none"/>
        <input  name="websiteId"    value="{{model.websiteId}}"      style="display: none"/>
        <input  name="pageId"    value="{{model.widget.pageId}}"     style="display: none"/>
        <input  name="widgetId"     value="{{model.widget._id}}"            style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>

        <a ng-click="model.deleteWidget(model.widget)"  class="btn btn-danger btn-block">Delete</a>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right"  >
            <a href="../views/user/profile.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

